[data-route=close] {
  padding: 10px;
}

[data-route=connection] {
  padding: 10px;
}

[data-route=workspace] {
  padding: 5px;
  font-size: 14px;
}
[data-route=workspace] canvas {
  height: 100%;
  width: auto;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
}
[data-route=workspace] > * {
  margin-bottom: 5px;
}
[data-route=workspace] > *:last-child {
  margin-bottom: 0;
}
[data-route=workspace] .dropdown-menu > li > a .fa {
  width: 16px;
}
[data-route=workspace] .nav-panel .btn {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
[data-route=workspace] .nav-panel .row [class^=col-],
[data-route=workspace] .nav-panel .row [class*=" col-"] {
  padding-right: 5px;
}
[data-route=workspace] .nav-panel .row [class^=col-]:last-child,
[data-route=workspace] .nav-panel .row [class*=" col-"]:last-child {
  padding-right: 0;
}
[data-route=workspace] .active-state {
  height: 65px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f6f6f6;
  padding: 5px 10px;
  text-align: center;
}
[data-route=workspace] .axis-label {
  text-align: right;
  font-size: 20px;
  padding: 0 8px;
}
[data-route=workspace] .axis-position {
  text-align: right;
}
[data-route=workspace] .rotate-45deg {
  transform: rotate(45deg);
}
[data-route=workspace] .rotate-45deg:before {
  transform: rotate(45deg);
}
[data-route=workspace] .rotate--45deg {
  transform: rotate(-45deg);
}
[data-route=workspace] .rotate--45deg:before {
  transform: rotate(-45deg);
}
[data-route=workspace] .rotate-90deg {
  transform: rotate(90deg);
}
[data-route=workspace] .rotate-90deg:before {
  transform: rotate(90deg);
}
[data-route=workspace] .rotate--90deg {
  transform: rotate(-90deg);
}
[data-route=workspace] .rotate--90deg:before {
  transform: rotate(-90deg);
}
[data-route=workspace] .control-pad .row [class^=col-],
[data-route=workspace] .control-pad .row [class*=" col-"] {
  padding-right: 5px;
}
[data-route=workspace] .control-pad .row [class^=col-]:last-child,
[data-route=workspace] .control-pad .row [class*=" col-"]:last-child {
  padding-right: 0;
}
[data-route=workspace] .control-pad .row {
  padding-bottom: 5px;
}
[data-route=workspace] .control-pad .row:last-child {
  padding-bottom: 0;
}
[data-route=workspace] .control-pad .btn {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  [data-route=workspace] {
    font-size: 20px;
  }
  [data-route=workspace] .dropdown-menu {
    min-width: 180px;
  }
  [data-route=workspace] .dropdown-menu > li > a .fa {
    width: 20px;
  }
  [data-route=workspace] .axis-label {
    font-size: 24px;
  }
  [data-route=workspace] .dropdown-menu {
    font-size: 20px;
  }
  [data-route=workspace] .btn,
  [data-route=workspace] .form-control {
    font-size: 20px;
    height: 65px;
  }
}
@media (min-width: 992px) {
  [data-route=workspace] {
    font-size: 24px;
  }
  [data-route=workspace] .dropdown-menu {
    min-width: 200px;
  }
  [data-route=workspace] .dropdown-menu > li > a .fa {
    width: 24px;
  }
  [data-route=workspace] .axis-label {
    font-size: 28px;
  }
  [data-route=workspace] .dropdown-menu {
    font-size: 24px;
  }
  [data-route=workspace] .btn,
  [data-route=workspace] .form-control {
    font-size: 24px;
    height: 65px;
  }
  [data-route=workspace] .messages {
    height: auto;
  }
}
@media (min-width: 1200px) {
  [data-route=workspace] {
    font-size: 28px;
  }
  [data-route=workspace] .dropdown-menu {
    min-width: 220px;
  }
  [data-route=workspace] .dropdown-menu > li > a .fa {
    width: 28px;
  }
  [data-route=workspace] .axis-label {
    font-size: 32px;
  }
  [data-route=workspace] .dropdown-menu {
    font-size: 28px;
  }
  [data-route=workspace] .btn,
  [data-route=workspace] .form-control {
    font-size: 28px;
    height: 65px;
  }
}

/*# sourceMappingURL=app.css.map */
